/* Side Bar */
body {
  background-color: #FBFCFF;
  margin: 0;
  width: 1440px;
  /* height: 1024px; */
  height: 100%;
}

.sidebar {
  width: 350px;
  height: 100%;
  background-color: rgba(177, 178, 255, 0.73);
  border-radius: 35px;
  position: absolute;
  left: 0;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.left-sidebar {
  width: 110px;
  height: 100%;
  background-color: #F6F7FB;
  position: absolute;
  left: 0;
  border-top-right-radius: 80px;
  border-bottom-right-radius: 80px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 2;
}

.right-sidebar {
  width: 320px;
  height: 100%;
  background-color: white;
  position: absolute;
  right: 0px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 2;
}

.profile-text {
  color: #9799FE;
  font-size: 18pt;
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding-left: 30px;
  padding-top: 20px;
  font-weight: 700;
}


/*left-sidebar*/
#logo {
  width: 80px;
  margin-top: 40px;
  margin-left: 12px;
  margin-bottom: 20px;
}
#home, #members, #user, #settings {
  width: 35px;
  position: relative;
  right: 10px;
  margin-bottom: 65px;
}

#group_name {
  color: white;
  font-weight: 700;
  /* width: 240px; */
  font-size: 26pt;
  position: relative;
  left: 120px;
}

.sidebar-menu {
  width: 240px;
  position: relative;
  left: 90px;
  top: 20px;
}
.sidebar-menu-items {
  margin-bottom: 55px;
}

.sidebar-menu-items > a{
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: 700;
}

.notice-board-category {
  margin-top: 25px;
}
.notice-board-category > a{
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: 700;
}

/*right-sidebar*/
.right-sidebar-icons {
  width: 28px;
  position: relative;
  left: 215px;
  top: 22px;
  margin-left: 10px;
}
.profile {
  /* border: solid 1px; */
  position: relative;
  top: 80px;
  margin: 0 auto;
  text-align: center;
}
#profile-img {
  width: 150px;
  height: 150px;
  /* border: 1px solid ; */
  object-fit: cover;
  border-radius: 70%;
  overflow: hidden;
  margin-bottom: 20px;
}
.profile-name {
  font-size: 28px;
  width: 160px;
  margin: 0 auto;
  text-align: center;
  /* border: 1px solid; */
  margin-bottom: 5px;
}
.grade {
  width: 110px;
  height: 30px;
  background-color: #F1A5BE;
  margin: 0 auto;
  border-radius: 15px;
  /* border: 1px solid; */
  color: white;
  padding-top: 3px;
}

.member_or_chatting {
  position: relative;
  top: 115px;
  /* border: 1px solid; */
  text-align: center;
}
.selectbar {
  width: 180px;
  height: 60px;
  font-size: 16px;
  background-color: #F1A5BE;
  margin: 0 auto;
  border-radius: 40px;
  padding-bottom: 8px;
}
.selectbar > p {
  display: inline-block;
}
.selectbar > .selected {
  border-radius: 30px;
  background-color: white;
  color: #6E63B6;
  width: 90px;
  padding-top: 5px;
  padding-bottom: 10px;
  font-weight: 700;
}
.selectbar > .unselected {
  color: white;
  /* border: 1px solid; */
}

/* main */
body {
  width: 1440px;
  height: 1024px;
  background: #F6F7FB;
  display:flex;
}

ul{
  list-style: none;
}

.attendance_main{
  float:right;
  position: absolute;
  width: 836px;
  height: 1024px;
  left: 410px;
  top: 0px;
  margin: 0 160px 0 160px;
}

h1{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 30px;    
}

.attend-icon-list{
  margin-top:79px;
}

.attend_search{
  width: 487px;
  height: 58px;
  margin-top:10px;
  background: #F0F0F0;
  border-radius: 20px;
}

span.material-icons{
  float:left;
  width: 25.53px;
  height: 26.29px;
}

#search__box{
  border: 0;
  align-items: center;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  width: 197px;
  height: 27px;
  margin-top:11px;
  margin-bottom:20px;
  background: #F0F0F0;
  margin-left:26.47px;
}

.searchicon{
  margin-top:13px;
  margin-left: 30px;
  border:0;
}

.attend_info{
  width: 82px;
  height: 26px;
  margin-top:110px;
  padding-bottom: 20px;
}
h2{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
}

.attend_box{
  width: 736px;
  height: 395px;
  left: 365px;
  top: 395px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);    
}

.member_section{
  width: 481px;
  height: 400px;
  float: left;
}

.memberprofile{
  width: 57px;
  height: 83px;
  margin-top: 30px;
  margin-left: 58px;
  cursor: pointer;
}

.memberprofile_first{
  width: 57px;
  height: 83px;
  margin-top: 30px;
  margin-left: 20px;
}

.memberlist > li {
  float: left;
}

.memberprofile > img{
  width: 57px;
  height: 58px;
}

.profile_name{
  margin-top:8px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  text-align: center;
}

.text_section{
  width: 232px;
  height: 395px;
  background-color: #F4F5FF;
  float:right;
  position: relative;
}

.textlist{
  padding: 0;
}

.datebox{
  width: 132px;
  height: 38px;
  background: #B1B2FF;
  border: 1px solid #D9D9D9;
  border-radius: 5px; 
  margin-top:25px;
  margin-left:46px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  text-align: center;
  color: #FFFFFF;
}

.line{
  width: 232px;
  height: 0px;
  margin-top:27px;
  border: 1px solid #D9D9D9;
}

.attendance_txt{
width: 100%;
height: 35px;
display: flex;
position: relative;
border-bottom: 3px solid #D9D9D9;
}

.attend_name{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 35px;
  color: #464646;
  float:left;
  margin-right:23px;
  margin-left: 23px;
}

.attend_timestamp{
  line-height: 35px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #464646;     
}

.attend_state{

  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  color: #6E63B6;
  margin-left:31px;
  line-height: 35px;
}

.attendance_txt > div{
  display:inline-block;
}

/* Check Attendance */
.manager_att{
margin: 0;

}

.manager_att_name {
font-family: 'Inter';
font-style: normal;
font-weight: 500;    
font-size: 16px;
color: #464646;
width: 100%;
text-align: center;
z-index: 1;
line-height: 35px;
}

.checkBox {
z-index: 5;
width: 18px;
height: 18px;
border-radius: 5px;
left: 15%;
position: absolute;
border: 2px solid #808080;
cursor: pointer;
top: 25%;
}

.checked {
background-color: #9799FE;
}

.checkBox .checkIcon {
width: 100%;
height: 100%;
color: #FFFFFF;
position: absolute;
font-size: 19px;
}

.unchecked {
background-color: #FFFFFF;
}

.textlist .saveAtt {
position: absolute;
margin-left: 5%;
width: 90%;
bottom: 10%;
display: flex;
justify-content: space-around;
}

.textlist .saveAtt #saveBtn, #cancelBtn {
width: 60px;
height: 35px;
line-height: 35px;
color: #FFFFFF;
font-weight: bold;
text-align: center;
background-color: #B1B2FF;
border-radius: 5px;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border: 1px solid #D9D9D9;
cursor: pointer;
}