<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>동고동락</title>
    <link href="/css/attendance.css" rel="stylesheet">
    <!-- main.js -->
    <script defer src="/js/attendance.js"></script>
    <!-- google material-icon -->
    <!-- Google material-icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<body>
    <!-- Side Bar -->
    <div class="sidebar">
        <div id="group_name"><p>Algorithm<br> Club</p></div>
        <div class="sidebar-menu">
          <ul>
            <div class="sidebar-menu-items"><a href="">group information</a></div>
            <div class="sidebar-menu-items"><a href="">rank</a></div>
            <div class="sidebar-menu-items"><a href="">schedule</a></div>
            <div class="sidebar-menu-items"><a href="">members</a></div>
            <div class="sidebar-menu-items"><a href="">mypage</a></div>
            <div class="sidebar-menu-items">
              <a href="">notice board</a>
              <ul>
                <div class="notice-board-category"><a href="">► notice</a></div>
                <div class="notice-board-category"><a href="">► vote</a></div>
                <div class="notice-board-category"><a href="">► schedule</a></div>
                <div class="notice-board-category"><a href="">► assignments</a></div>
                <div class="notice-board-category"><a href="">► Q&A</a></div>
              </ul>
            </div>
          </ul>
        </div>
      </div>
  
      <div class="left-sidebar">
        <img id="logo" src="/img/Logo.png">
        <ul class="left-sidebar-icons">
          <img id="home" src="/img/home.png">
          <img id="members" src="/img/members.png">
          <img id="user" src="/img/user.png">
          <img id="settings" src="/img/settings.png">
        </ul>
      </div>
      <div class="right-sidebar">
        <!-- 프로필바 상단 -->
        <div>
          <p class="profile-text">My profile</p>
          <img class="right-sidebar-icons" src="/img/profile_settings.png">
          <img class="right-sidebar-icons" src="/img/alarm.png">
        </div>
        
        <!-- 프로필 사진, 이름, 멤버 등급 -->
        <div class="profile">
          <div><img id="profile-img" src="/img/profile_img_jaeae.jpg"></div>
          <p class="profile-name">Jaeae</p>
          <p class="grade">member</p>
        </div>
  
        <!-- 멤버 또는 채팅 창 -->
        <div class="member_or_chatting">
          <!-- 보라색 바 -->
          <div class="selectbar">
            <p class="selected">member</p>
            <p class="unselected">chatting</p>
          </div>
          <!-- 멤버 목록 -->
          <div></div>
          <!-- 채팅창 목록 -->
          <div></div>
        </div>
      </div>
    

    <!-- 메인 -->
    <div class="attendance_main">
        <ul class="attend-icon-list">
            <li>
                <h1>Attendance</h1>
            </li>
            <li>
                <div class="attend_search">
                    <button class="searchicon">
                        <span class="material-symbols-outlined">
                            search
                        </span>
                    </button>
                    <input id="search__box" placeholder="Search members" />
                </div>
            </li>
            <li>
                <div class="attend_info">
                    <h2>출결정보</h2>
                </div>
            </li> 
            <li>
                <div class="attend_box">  
                    <div class="member_section">
                        <ul class="memberlist">
                            <li class = "first_li">
                                <div class="memberprofile memberprofile_first">
                                    <img id="profile" src="../img/profile_img.jpg">
                                    <p class="profile_name">조은재</p>
                                </div>
                            </li>
                            <li>
                                <div class="memberprofile">
                                    <img id="profile" src="../img/profile_img2.jpg">
                                    <p class="profile_name">이지원</p>
                                </div>
                            </li>
                            <li>
                                <div class="memberprofile">
                                    <img id="profile" src="../img/profile_img3.jpg">
                                    <p class="profile_name">김준희</p>
                                </div>
                            </li>
                            <li>
                                <div class="memberprofile">
                                    <img id="profile" src="../img/profile_img4.jpg">
                                    <p class="profile_name">서가은</p>
                                </div>
                            </li>
                            <li>
                                <div class="memberprofile memberprofile_first">
                                    <img id="profile" src="../img/profile_img5.jpg">
                                    <p class="profile_name">김수연</p>
                                </div>
                            </li>
                        </ul>
                            
                    </div>
                    <div class="text_section">
                        <ul class="textlist">
                            <li><input type="date" value="2030-12-30" class="datebox" style="cursor: pointer;"></li>
                            <li><div class="line"></div></li>
                            <li>
                                <div class="attendance_txt manager_att">
                                    <div name="checkbox" value="1" class="checkBox checked">
                                        <span class="material-icons checkIcon">
                                            done
                                        </span>
                                    </div>
                                    <div class="checkBox unchecked"></div>
                                    <div class="manager_att_name">조은재</div>
                                </div>
                                <% result.forEach((el, index) => {%>
                                <div class="attendance_txt member_att" style="display: none">
                                        <div class="attend_name"><%= el.nickname %></div>
                                        <div class="attend_timestamp"><%= el.attendanceTime.toTimeString().substring(0, 8) %></div>
                                        <div class="attend_state"><%= el.attendStatus %></div>
                                </div>
                                <% }) %>
                            </li>
                            <li>
                                <div class="attendance_txt manager_att">
                                    <div name="checkbox" value="2" class="checkBox checked">
                                        <span class="material-icons checkIcon">
                                            done
                                        </span>
                                    </div>
                                    <div class="checkBox unchecked"></div>
                                    <div class="manager_att_name">이지원</div>
                                </div>
                                
                            </li>
                            <li>
                                <div class="attendance_txt manager_att">
                                    <div name="checkbox" value="3" class="checkBox checked">
                                        <span class="material-icons checkIcon">
                                            done
                                        </span>
                                    </div>
                                    <div class="checkBox unchecked"></div>
                                    <div class="manager_att_name">김준희</div>
                                </div>
                                <!-- <div class="attendance_txt member_att" style="display: none">
                                    <div class="attend_name">김준희</div>
                                    <div class="attend_timestamp">14:32:47</div>
                                    <div class="attend_state">출석</div>
                                </div> -->
                            </li>
                            <li>
                                <div class="attendance_txt manager_att">
                                    <div name="checkbox" value="4" class="checkBox checked">
                                        <span class="material-icons checkIcon">
                                            done
                                        </span>
                                    </div>
                                    <div class="checkBox unchecked"></div>
                                    <div class="manager_att_name">서가은</div>
                                </div>
                                <!-- <div class="attendance_txt member_att" style="display: none">
                                    <div class="attend_name">서가은</div>
                                    <div class="attend_timestamp">14:32:47</div>
                                    <div class="attend_state">출석</div>
                                </div> -->
                            </li>
                            <li>
                                <div class="attendance_txt manager_att">
                                    <div name="checkbox" value="5" class="checkBox checked">
                                        <span class="material-icons checkIcon">
                                            done
                                        </span>
                                    </div>
                                    <div class="checkBox unchecked"></div>
                                    <div class="manager_att_name">김수연</div>
                                </div>
                                <!-- <div class="attendance_txt member_att" style="display: none">
                                    <div class="attend_name">김수연</div>
                                    <div class="attend_timestamp">00:00:00</div>
                                    <div class="attend_state" style="color: #9BBE5A;">결석</div>
                                </div> -->
                            </li>
                            <div class="saveAtt">
                                <span id="cancelBtn">취소</span>
                                <span id ="saveBtn">저장</span>
                            </div>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</body>
</html>