<!DOCTYPE html>
<html>
  <head>
    <title>동고동락</title>
    <meta charset="utf-8">
    <link href="../../public/css/login.css" rel="stylesheet">
    <script src="./js/includeHTML.js"></script>

  </head>

  <body>
      <!-- <nav include-html="/html/sidebar.html"></nav>
      <script>
        includeHTML();
      </script> --> 
      <div class="header">
        <img id="logo" src="../img/Logo.png">
        <p>동고동락</p>
      </div>
      <div class="login">
        <form action="/app/login" method="post">
            <div class="id">
                <p>아이디</p>
            <input type="text" name="email" placeholder="이메일 입력">
            </div>
            <div class="password">
                <p>비밀번호</p>
                <input type="password" name="password">
            </div>
        </form>
      <div class="button">
        <button class="btn login" type="submit">로그인</button>
        <button class="btn signup" onclick="location.href='';">회원가입</button>
      </div>
      
      <div>

      </div>
  </body>
</html>